<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
    <property name="LOG_PATH" value="/logs/"/>
    <property name="LOG_FILE_NAME" value="with-me"/>
    <!-- 콘솔로 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 파일 경로 -->
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <!-- 로그 패턴 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 일자별 로그파일 저장 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}_%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 로그파일 최대 보관주기(일), 해당 설정일 이상된 파일은 자동으로 제거 -->
            <maxHistory>1095</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- log4jdbc 옵션 설정 -->
    <logger name="jdbc" level="OFF"/>
    <!-- 커넥션 이벤트(OPEN, CLOSE)를 로그에 남긴다. -->
    <logger name="jdbc.connection" level="OFF"/>
    <!-- 실행된 SQL문과 수행 시간을 로그에 남긴다. -->
    <logger name="jdbc.sqltiming" level="INFO"/>
    <!-- 기본 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>